<p class='data-updated-footnote'>Data updated in 2014, <a href="https://docs.google.com/spreadsheets/d/1JvF5lyj5h_5DgLOBItflwd7438dF0aSuCtqDaN2CMt8/pubhtml?gid=1708674573&single=true">source</a>.</p>

                    <div id="footerOuterSeparator"></div>

                    <div id="divFooter" class="footerArea">

                        <div class="divPanel">

                        <div class="row-fluid">
                            <div class="span3" id="footerArea1">
                            
                                <h3>About ReinventPHX</h3>

                                <p><strong>Reinvent PHX is a collaborative partnership between the City of Phoenix, the U.S. Department of Housing and Urban Development, Arizona State University, St. Luke’s Health Initiatives and local organizations committed to growing a sustainable city.</strong></p>
                                <p>&nbsp;</p>


                            </div>
                            <div class="span3" id="footerArea2">

                                <h3>Get Involved</h3> 
                                <p>
                                    <a href="http://www.myplanphx.com/category/reinvent-phx" title="">Myplanphx</a><br>
                                    <span style="text-transform:none;">Join the Online Conversation</span>
                              </p>
                              <p>
                                    <a href="http://lists.phoenix.gov/fms/pln-reinventphoenixsubscribe.html" title="">Mailing List</a><br>
                                    <span style="text-transform:none;">Receive Email Updates</span>
                                </p>
                              <p>
                                    <a href="http://reinventphx.org/get_involved.html" title="">Upcoming Events</a><br>
                                <span style="text-transform:none;">Attend Forums and Workshops</span></p>
                            </div>
                            <div class="span3" id="footerArea3">

                                <h3>Other Useful Links</h3> 
                              <p><a href="https://www.phoenix.gov/pddsite/Pages/pzgpupdate.aspx" title="">General Plan Update</a><br>
                              </p>
                              <p> <a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/sustainable_housing_communities" title="">HUD Office of Sustainable Housing and Communities</a><br>
                              </p>
                              <p><a href="http://www.sustainablecommunitiescollaborative.com/" title="">Sustainability Communities Collaborative</a><br>
                              </p>
                              <p><a href="http://sustainability.asu.edu/" title="">Julie Ann Wrigley Global Institute of Sustainability</a><br>
                              </p>
                              <p> <a href="http://slhi.org/" title="">St. Luke's Health Initiative</a><br>
                              </p>
                              <p><a href="http://arizona.uli.org/" title="">ULI Arizona</a><br>
                              </p>

                            </div>
                            <div class="span3" id="footerArea4">

                                <h3>TOD Districts</h3>
                                <p><a href="http://reinventphx.org/gateway.html" title="">Gateway</a></p>
                                <p><a href="http://reinventphx.org/eastlake_garfield.html" title="">Eastlake-Garfield</a></p>
                                <p><a href="http://reinventphx.org/midtown.html" title="">Midtown</a></p>
                                <p><a href="http://reinventphx.org/uptown.html" title="">Uptown</a></p>
                                <p><a href="http://reinventphx.org/solano.html" title="">Solano</a></p>
                                <ul id="contact-info">
                                <li>
                                  <i class=""></i></li>
                                <li>
                                  <i class="" style="margin-bottom:50px"></i></li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
<p> This dashboard is powered by <a href="https://github.com/reinventphx/reinventphx.github.io">github</a>.</p>
            <br><br><br>

            <script src="./assets/jquery.min.js" type="text/javascript"></script> 
            <script src="./assets/bootstrap.min.js" type="text/javascript"></script>
            <script src="./assets/default.js" type="text/javascript"></script>

<!-- 
            <script src="./assets/jquery.carouFredSel-6.2.0-packed.js" type="text/javascript"></script><script type="text/javascript">$('#list_photos').carouFredSel({ responsive: true, width: '100%', scroll: 2, items: {width: 320,visible: {min: 2, max: 6}} });</script><script src="./assets/camera.min.js" type="text/javascript"></script>
            <script src="./assets/jquery.easing.1.3.js" type="text/javascript"></script>
            <script type="text/javascript">function startCamera() {$('#camera_wrap').camera({ fx: 'scrollLeft', time: 2000, loader: 'none', playPause: false, navigation: true, height: '35%', pagination: true });}$(function(){startCamera()});</script>
 -->


</body></html>
