<div id="divMenuRight" class="pull-right">
      <div class="navbar">
          <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
              NAVIGATION <span class="icon-chevron-down icon-white"></span>
          </button>
          <div class="nav-collapse collapse">
              <ul class="nav nav-pills ddmenu">
                  <li {%if page.title == 'Home'%}class="active"{%endif%} ><a href="./index.html">Home</a></li>
                  <li {%if page.title == 'Gateway'%}class="active"{%endif%} ><a href="./gateway.html">Gateway</a></li>
                  <li {%if page.title == 'Eastlake Garfield'%}class="active"{%endif%} ><a href="./eastlake-garfield.html">Eastlake-Garfield</a></li>
                  <li {%if page.title == 'Midtown'%}class="active"{%endif%} ><a href="./midtown.html">Midtown</a></li>
                  <li {%if page.title == 'Uptown'%}class="active"{%endif%} ><a href="./uptown.html">Uptown</a></li>
                  <li {%if page.title == 'Solano'%}class="active"{%endif%} ><a href="./solano.html">Solano</a></li>
                  <!-- <li class="dropdown">
                      <ul class="dropdown-menu sub-menu">
                      </ul>
                  </li>
                  <li class="active"><a href="http://reinventphx.org/index.html">Home</a></li>
                  <li><a href="http://reinventphx.org/about.html">About</a></li>
                  <li class="dropdown">
                      <a href="http://reinventphx.org/#" class="dropdown-toggle">Districts <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="http://reinventphx.org/overview.html">Overview</a></li>
                          <li><a href="http://reinventphx.org/gateway.html">Gateway</a></li>
                          <li><a href="http://reinventphx.org/eastlake_garfield.html">Eastlake-Garfield</a></li>
                          <li><a href="http://reinventphx.org/midtown.html">Midtown</a></li>
                          <li><a href="http://reinventphx.org/uptown.html">Uptown</a></li>
                          <li><a href="http://reinventphx.org/solano.html">Solano</a></li>
                          <li class="dropdown">
                              <ul class="dropdown-menu sub-menu">
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li><a href="http://reinventphx.org/resources.html">Resources</a></li>
                  <li><a href="http://www.myplanphx.com/people-events-of-reinventphx">Photos</a></li>
                  <li><a href="http://reinventphx.org/get_involved.html">Get Involved</a></li> -->
              </ul>
          </div>
      </div>
  </div>
  <div id="divMenuRight" class="pull-right">
      <div class="navbar">
          <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
              NAVIGATION <span class="icon-chevron-down icon-white"></span>
          </button>
          <div class="nav-collapse collapse">
              <ul class="nav nav-pills ">

                  <li {%if page.title == 'Land Use'%}class="active"{%endif%} ><a href="./land-use.html">Land Use</a></li>
                  <li {%if page.title == 'Economic Development'%}class="active"{%endif%} ><a href="./economic-development.html">Economic Development</a></li>
                  <li {%if page.title == 'Mobility'%}class="active"{%endif%} ><a href="./mobility.html">Mobility</a></li>
                  <li {%if page.title == 'Health'%}class="active"{%endif%} ><a href="./health.html">Health</a></li>
                  <li {%if page.title == 'Green Systems'%}class="active"{%endif%} ><a href="./green-systems.html">Green Systems</a></li>
                  <li {%if page.title == 'Housing'%}class="active"{%endif%} ><a href="./housing.html">Housing</a></li>
              </ul>
          </div>
      </div>
  </div>