
.housing-element {
  color: #f89820;
}
.economic-development-element {
  color: #006637;
}
.green-element {
  color: #2db34a;
}
.mobility-element {
  color: #f25f21
}
.health-element {
  color: #ec1b23;
}
.land-use-element {
  color: #512d66;
}

.data-updated-footnote {
  font-style: italic;
  text-align: right;
  padding-right: 100px;
}